{% extends "base.html" %}
{% load my_templatetag %}

{% block content %}

<br /><br />
<br /><br />

<div class="col-md-6 col-right docutils container">
  <h2>Siena Galaxy Atlas 2020</h2>
  <h4>Data Portal</h4>
  <p>Welcome to the data portal for the Siena Galaxy Atlas 2020
    (SGA-2020)!</p>

  <p>Please refer to
  the <a href="http://faraday.uwyo.edu/~admyers/scratch/legacysurvey/sga/sga/sga2020">SGA-2020
  documentation</a> (or click on the SGA dropdown menu) for full details
  regarding this data release and the conditions of use.</p>
</div>

<div class="col-md-6 col-right docutils container">
<div class="jumbotron">
  <h4>Full Catalog [600 MB]</h4><a href="/data/sga/2020/SGA-2020-ls.fits">SGA-2020-ls.fits</a><a href="http://faraday.uwyo.edu/~admyers/scratch/legacysurvey/sga/sga/sga2020/#sga-2020-ls-fits">
    (data model)</a> 
<!--  <h4>Full sample (outside Legacy Surveys --
  --  footprint)</h4><a href="/data/sga/2020/SGA-2020-nols.fits">Download --
  --  SGA-2020-leda.fits (28 MB)</a> -->
  <h4>On the web</h4>
  <a href="https://portal.nersc.gov/project/cosmo/data/sga/2020/data">https://portal.nersc.gov/project/cosmo/data/sga/2020/data</a>
  <h4>At NERSC (for collaborators)</h4>/global/cfs/cdirs/cosmo/data/sga/2020/data
</div>
</div>

<center>
<hr />
<div>
<h3>Cone Search</h3>
<form method="get" action="#results">
  <table>
  <tr>
    <td class="search_th"><label for="conera">Search RA</label></td>
    <td><input id="conera" name="conera" step="0.0001" type="number" value="{{cone_ra}}" placeholder="degrees" min="0"/></td> 
   </tr>
  <tr>
    <td class="search_th"><label for="conedec">Search Dec</label></td>
    <td><input id="conedec" name="conedec" step="0.0001" type="number" value="{{cone_dec}}" placeholder="degrees" min="-90"/></td> 
  </tr>
  <tr>
    <td class="search_th"><label for="coneradius">Search Radius</label>&nbsp &nbsp</td>
    <td><input id="coneradius" name="coneradius" step="0.01" type="number" value="{{cone_rad}}" placeholder="arcmin" min="0"/></td>
   </tr>
  </table>
<button type="submit" class="btn btn-primary" style="margin-top: 15px;">Cone Search</button>
</form>

<hr />

<h3>Filter the Sample</h3>
<form method="get" action="#results">
  <table>
  <tr>
       <th class="search_th"><label for="idlo">SGA ID</label></th>
       <td><input id="idlo" name="sgaid__gte" type="number" value=""
       placeholder="min" min="0"/></td> 
       <td><input id="idhi" name="sgaid__lte" type="number" value="" placeholder="max" min="0"/></td> 
  </tr>
  <tr>
       <th class="search_th"><label for="groupidlo">SGA Group ID</label></th>
       <td><input id="groupidlo" name="groupid__gte" type="number" value=""
       placeholder="min" min="0"/></td> 
       <td><input id="groupidhi" name="groupid__lte" type="number" value="" placeholder="max" min="0"/></td> 
  </tr>
  <tr>
       <th class="search_th"><label for="ralo">RA</label></th>
       <td><input id="ralo" name="ra__gte" step="0.01" type="number" value="" placeholder="min"/></td> 
       <td><input id="rahi" name="ra__lte" step="0.01" type="number" value="" placeholder="max"/></td> 
  </tr>
  <tr>
       <th class="search_th"><label for="declo">Dec</label></th>
       <td><input id="declo" name="dec__gte" step="0.01" type="number" value="" placeholder="min"/></td> 
       <td><input id="dechi" name="dec__lte" step="0.01" type="number" value="" placeholder="max"/></td> 
  </tr>
  <tr>
       <th class="search_th"><label for="groupralo">Group RA</label></th>
       <td><input id="groupralo" name="groupra__gte" step="0.01" type="number"
       value="" placeholder="min (degrees)"/></td> 
       <td><input id="grouprahi" name="groupra__lte" step="0.01" type="number"
       value="" placeholder="max (degrees)"/></td> 
  </tr>
  <tr>
       <th class="search_th"><label for="groupdeclo">Group Dec</label>&nbsp
       &nbsp</th> 
       <td><input id="groupdeclo" name="groupdec__gte" step="0.01" type="number"
       value="" placeholder="min (degrees)"/></td>  
       <td><input id="groupdechi" name="groupdec__lte" step="0.01" type="number"
       value="" placeholder="max (degrees)"/></td>  
  </tr>
  <tr>
       <th class="search_th"><label for="diamlo">Galaxy Diameter</label>&nbsp
       &nbsp</th> 
       <td><input id="diamlo" name="diam__gte" step="0.1" type="number" value=""
       placeholder="min (arcmin)" min="0"/></td> 
       <td><input id="diamhi" name="diam__lte" step="0.1" type="number" value=""
       placeholder="max (arcmin)" min="0"/></td> 
  </tr>

  </table>
<button type="submit" class="btn btn-primary" style="margin-top: 15px;">Filter</button>
</form>

<hr />

<div><a id="results"></a></div>

<h3>Results</h3>

<script>
document.write('<p class="search_log">Showing '+({{ page.start_index }})+' - '+({{ page.end_index }})+' of '+({{paginator.count}})+'</p>')
</script>

{% comment %}
<pre class="search_log" > {% url_pull request %} </pre>
{% endcomment %}

<form method="post">
{% csrf_token %}
<button href="" type="submit" class="btn btn-primary" name="dbutn" >Download</button>
</form>

<br />

</div>
</center>

<table class="table table-bordered table-hover">
<thead>
<tr>
<th style="text-align: center;">Number</th>
<th style="min-width: 155px; text-align: center;"><a href="?{% url_replace_sort request 'sga_id' %}#results">SGA ID</a></th>
<th style="text-align: center;"><a href="?{% url_replace_sort request 'group_name' %}#results">Group Name</a></th>
<th style="text-align: center;"><a href="?{% url_replace_sort request 'galaxy' %}#results">Galaxy</a></th>
<th style="text-align: center;"><a href="?{% url_replace_sort request 'group_ra' %}#results">Group RA<br />(degrees)</a></th>
<th style="text-align: center;"><a href="?{% url_replace_sort request 'group_dec' %}#results">Group Dec<br />(degrees)</a></th>
<th style="text-align: center;"><a href="?{% url_replace_sort request 'ra_leda' %}#results">RA<br />(degrees)</a></th>
<th style="text-align: center;"><a href="?{% url_replace_sort request 'dec_leda' %}#results">Dec<br />(degrees)</a></th>
<th style="text-align: center;"><a href="?{% url_replace_sort request 'd25_leda' %}#results">Galaxy Diameter<br />(arcmin)</a></th>
</tr>
</thead>

<tbody>
  {% for sam in page %}
  <tr>
      <td style="text-align: center;">{{ forloop.counter0|add:page.start_index }}</td>
      <td style="text-align: center;">{{ sam.sga_id_string }}</td>
      <td><a href="{% url 'group' sam.group_name %}">{{ sam.group_name }}</a></td>
      <td>{{ sam.galaxy }}</td>
      <td style="text-align: center;">{{ sam.group_ra|floatformat:7 }}</td>
      <td style="text-align: center;">{{ sam.group_dec|floatformat:6 }}</td>
      <td style="text-align: center;">{{ sam.ra_leda|floatformat:7 }}</td>
      <td style="text-align: center;">{{ sam.dec_leda|floatformat:6 }}</td>
      <td style="text-align: center;">{{ sam.d25_leda|floatformat:3 }}</td>
{% endfor %}
</tbody>
</table>

<div style="text-align:center; padding: 10;">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
            <a href="?{% url_replace request 'page' page.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            <a href="?{% url_replace request 'page' page.next_page_number %}#results">next</a>
            <a href="?{% url_replace request 'page' paginator.num_pages %}#results">last &raquo;</a>
        {% endif %}
    </span>

</div>

<br /><br />

</body>
{% endblock %}
