{% extends "base.html" %}

{% block content %}

{% comment %}
<style type="text/css">
table, td, th {padding: 5px; text-align: center; border: 1px solid black}
</style>
{% endcomment %}

<br /><br /><br />
<br /><br />

{{ group_name }}


<h1><a href="https://www.legacysurvey.org/viewer/?ra={{ primary.group_ra }}&dec={{ primary.group_dec}}&zoom=15&layer=ls-dr9&sga" target="_blank">{{ nice_group_name }}</a></h1>
<h2>Group Properties</h2>
<table>
<tr>
<th>SGA ID<br />(Primary Galaxy)</th>
<th>Group Name</th>
<th>Group RA<br />(deg)</th>
<th>Group Dec<br />(deg)</th>
<th>Mosaic Diameter<br />(arcmin)</th>
<th>Number of Group<br />Members</th>
</tr>
<tr>
<td>{{primary.sga_id}}</td>
<td>{{primary.group_name}}</td>
<td>{{primary.group_ra}}</td>
<td>{{primary.group_dec}}</td>
<td>{{primary.mosaic_diam}}</td>
<td>{{members|length}}</td>
</tr>
</table>
<h3>Group Members</h3>
<table>
<tr>
<th>SGA ID</th>
<th>Galaxy</th>
<th>Visual<br />Morphology</th>
<th>RA<br />(deg)</th>
<th>Dec<br />(deg)</th>
</tr>
<tr>
<td>2</td>
<td>PGC1283207</td>
<td>S?</td>
<td>228.3770865</td>
<td>5.4232017</td>
</tr>
</table>
<h2>Image Mosaics</h2>
<p>Color mosaics showing the data (left panel), model (middle panel), and residuals (right panel).</p>
<table width="90%">
<tr><td><a href="{{ primary.png_base_url }}{{ primary.group_name}}-largegalaxy-grz-montage.png"><img src="{{ primary.png_base_url }}thumb-{{primary.group_name}}-largegalaxy-grz-montage.png" alt="Missing file PGC1283207-largegalaxy-grz-montage.png" height="auto" width="100%"></a></td></tr>
</table>
<h2>Elliptical Isophote Analysis</h2>
<h3>Geometry</h3>
<table>
<tr><th></th>
<th colspan="5">Tractor</th>
<th colspan="3">ID</th>
<th colspan="3">Ellipse Moments</th>
<th colspan="5">Ellipse Fitting</th>
</tr>
<tr><th>SGA ID</th>
<th>Type</th><th>n</th><th>r(50)<br />(arcsec)</th><th>PA<br />(deg)</th><th>e</th>
<th>R(25)<br />(arcsec)</th><th>PA<br />(deg)</th><th>e</th>
<th>Size<br />(arcsec)</th><th>PA<br />(deg)</th><th>e</th>
<th>R(24)<br />(arcsec)</th><th>R(25)<br />(arcsec)</th><th>R(26)<br />(arcsec)</th><th>PA<br />(deg)</th><th>e</th>
</tr>
<tr><td>2</td>
<td>SER</td><td>1.72</td><td>3.326</td><td>156.36</td><td>0.579</td>
<td>10.892</td><td>152.20</td><td>0.276</td>
<td>10.897</td><td>158.20</td><td>0.454</td>
<td>10.074</td><td>12.391</td><td>14.841</td><td>158.20</td><td>0.454</td>
</tr>
</table>
<h3>Photometry</h3>
<table>
<tr><th></th><th></th>
<th colspan="3"></th>
<th colspan="12">Curve of Growth</th>
</tr>
<tr><th></th><th></th>
<th colspan="3">Tractor</th>
<th colspan="3">&lt R(24)<br />arcsec</th>
<th colspan="3">&lt R(25)<br />arcsec</th>
<th colspan="3">&lt R(26)<br />arcsec</th>
<th colspan="3">Integrated</th>
</tr>
<tr><th>SGA ID</th><th>Galaxy</th>
<th>g</th><th>r</th><th>z</th>
<th>g</th><th>r</th><th>z</th>
<th>g</th><th>r</th><th>z</th>
<th>g</th><th>r</th><th>z</th>
<th>g</th><th>r</th><th>z</th>
</tr>
<tr><td>2</td><td>PGC1283207</td>
<td>16.692</td><td>15.835</td><td>15.205</td>
<td>16.747</td><td>15.897</td><td>15.272</td>
<td>16.708</td><td>15.862</td><td>15.237</td>
<td>16.690</td><td>15.844</td><td>15.220</td>
<td>16.537</td><td>15.694</td><td>15.041</td>
</tr>
</table>
<h4>2 - PGC1283207</h4>
<table width="90%">
<tr>
<td><a href="PGC1283207-largegalaxy-2-ellipse-multiband.png"><img src="thumb-PGC1283207-largegalaxy-2-ellipse-multiband.png" alt="Missing file thumb-PGC1283207-largegalaxy-2-ellipse-multiband.png" height="auto" width="100%"></a></td>
</tr>
</table>
<br />
<table width="90%">
<tr>
<td width="50%"><a href="PGC1283207-largegalaxy-2-ellipse-sbprofile.png"><img src="PGC1283207-largegalaxy-2-ellipse-sbprofile.png" alt="Missing file PGC1283207-largegalaxy-2-ellipse-sbprofile.png" height="auto" width="100%"></a></td>
<td><a href="PGC1283207-largegalaxy-2-ellipse-cog.png"><img src="PGC1283207-largegalaxy-2-ellipse-cog.png" alt="Missing file PGC1283207-largegalaxy-2-ellipse-cog.png" height="auto" width="100%"></a></td>
</tr>
</table>
<br /><b><br />

{% endblock %}

