{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="body-content">
<div class="row">

  <article class="storypage" itemscope="itemscope" itemtype="http://schema.org/Article"> 
  <header></header>
  <div class="e-content entry-content" itemprop="articleBody text">
  <div>
    <div class="col-md-6 col-left docutils container">
    <br /><br /><br />
    <h1>Siena Galaxy Atlas (SGA)</h1>
  
      <h3>Overview</h3>
      <p>The Siena Galaxy Atlas (SGA) is a multiwavelength atlas of 383,568 nearby
         galaxies selected based on their apparent angular diameter.</p>
  
       <p>These galaxies are intrinsically large enough to be spatially resolved
       from our vantage point in the universe, providing a unique and powerful
       window into the fossil record of galaxy formation and evolution and the
       galaxy-halo connection. In addition, the atlas serves as a valuable angular
       map of the foreground extragalactic sky for cosmological surveys of distant
       galaxies like the <a href="http://desi.lbl.gov">Dark Energy Spectroscopic
       Instrument (DESI)</a> survey.</p>
         
       <p>The SGA delivers precise coordinates, multiwavelength mosaics,
       azimuthally averaged optical surface brightness and color profiles,
       integrated and aperture photometry, model images and photometry, and
       additional metadata for the full sample. The primary sample relies on deep,
       wide-field grz imaging from
       the <a href="https://legacysurvey.org/dr9">DESI Legacy Imaging Surveys
       DR9</a> as well as all-sky infrared imaging at 3.4-22 microns
       from <a href="https://unwise.me">unWISE</a>.</p>
         
       <p>The 2020 version of the atlas, SGA-2020, is primarily selected from the
       <a href="http://leda.univ-lyon1.fr">Hyperleda</a> extragalactic database of
       known large angular-diameter galaxies, although future versions of the
       atlas will be supplemented with galaxies identified from the DR9 imaging
       itself, which will mitigate the heterogeneity and surface brightness
       incompleteness of the parent sample.</p>
         
       <p>Coupled with existing and forthcoming optical spectroscopy
       from <a href="http://desi.lbl.gov">DESI</a>, the SGA-2020 will yield
       important new insights into the star formation and mass assembly histories
       of galaxies, enable a myriad complementary studies of the nearby and
       distant universe, and help engage the broader public in astronomy with
       visually striking color imaging of large, well-resolved, nearby
       galaxies.</p>
  
      <p>For a detailed description of the data, including the data model and the
      conditions for use, please see
      the <a href="http://faraday.uwyo.edu/~admyers/scratch/legacysurvey/sga/dr9/sga/">SGA
      documentation</a>.</p>
  
  <!--
  <table border="1" class="docutils">
    <colgroup>
    <col width="34%">
    <col width="30%">
    <col width="35%">
    </colgroup>
    <tbody valign="top"><tr>
    <td>
    <em>The Beijing-Arizona Sky Survey</em> (<a class="reference external" href="bass">BASS</a>)</td>
    <td>
    <em>The DECam Legacy Survey</em> (<a class="reference external" href="decamls">DECaLS</a>)</td>
    <td>
    <em>The Mayall z-band Legacy Survey</em> (<a class="reference external" href="mzls">MzLS</a>)</td>
    </tr></tbody>
  </table>
  -->
  </div>
  
  <div class="col-md-6 col-right docutils container">
  <br /><br /><br /><br /><br />
    
  <div class="jumbotron">
    <h2>Data Access</h2>
    <div class="section">
      <h3><a href="explore">Query and Explore</a></h3>
      <div style="height:1px;font-size:1px;">&nbsp;</div>
      <h4>On the Web</h4><a href="https://portal.nersc.gov/project/cosmo/data/sga/2020/data">https://portal.nersc.gov/project/cosmo/data/sga/2020/data</a>
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      <h4>At NERSC (for collaborators)</h4>/global/cfs/cdirs/cosmo/data/sga/2020/data</a>
    </div> <!--close section-->
</div> <!--close jumbatron-->

</div>
</div>
</div>
</article>
</div>
</div>
</div>
</body>
{% endblock %}

<!--

<div class="row">
<article class="storypage" itemscope="itemscope" itemtype="http://schema.org/Article"><header></header><div class="e-content entry-content" itemprop="articleBody text">
<div>


<div class="col-md-6 col-left docutils container">

<img src="{% static "sga-sky.png" %}" alt="SGA Distribution" width="20%" />

<br/>

<p class="big"><a href="list">Query the Sample</a></p>
<p class="big"><a href="/data/sga/2020/SGA-2020.fits">Download SGA-2020.fits (600 MB)</a></p>
<p class="big"><a href="/data/sga/2020/SGA-2020-leda.fits">Download SGA-2020-leda.fits (28 MB)</a></p>
</div>

</article>
</div>
<!--End of body content-->

