title {
    padding: 15px 0;
    display: inline-block;
}

.navbar-brand #logo {
    max-width: 100%;
}

.navbar-brand>img {
    display: inline;
}

.row {
    margin: 0;
}

/* for alignment with Bootstrap's .entry-content styling */
.entry-summary {
    margin-top: 1em;
}

/* Custom page footer */
#footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.codetable {
    table-layout: fixed;
}

.codetable pre {
    overflow-x: scroll;
}

/* hat tip bootstrap/html5 boilerplate */
@media print {
    *, *:before, *:after {
        font-family: Garamond, Junicode, serif;
    }

    body {
        font-size: 12pt;
    }

    article .entry-title a[href]:after,
    article .metadata a[href]:after,
    article .tags a[href]:after {
        content: "";
    }

    article .metadata .sourceline {
        display: none;
    }

    article .metadata .linkline a[href]:after {
        content: " (" attr(href) ")";
    }

    .navbar {
        display: none;
    }
}

.bigbutton { 
  font-size:125%; 
  padding:2px; 
  padding-left:10px; 
  padding-right:10px; 
  font-weight: bold
}

.big {
  font-size:150%;
  font-weight: bold;
}

form { margin: 15px }

table {
  margin: 15px;
  border-style: solid;
  border-color: black;
  width: 98%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.search_th {
text-align: right;
padding-top: 10px ;
}
